#logo {
    width: 30px;
    filter: invert(1);
}

body {
    background: url(../imgs/pexels-lumn-167685.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.login-label {
    width: 100px;
    color: #fff;
    letter-spacing: 3px;
    font-weight: 200;
    text-shadow: none;
}

.login-button {
    display: block;
    margin: auto;
    border: none;
    padding: 5px 20px;
    border-radius: 25px;
    margin-top: 28px;
    margin-bottom: 28px;
    background-color: rgba(255, 255, 255, 0.7);
    letter-spacing: 3px;
}

.login-button:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
    box-shadow: 0px 0px 5px #fff;
}

.login-card {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(191, 191, 189, 0.6);
    border-radius: 15px;
    box-shadow: 0px 0px 10px 5px rgba(233, 230, 222, 0.3);
}

.login-card input {
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
    background-color: rgba(254, 243, 219, 0.6);
}

.register {
    margin-top: 20px;
}

.register p,
.register a {
    font-size: 0.8rem;
    padding: 0 10px;
}

.form-control.red {
    border: 1px solid red;
}

.form-text.red {
    color: red;
}

.register-container {
    margin: 50px;
}

.register-card {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    letter-spacing: 3px;
    font-weight: 200;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 5px rgba(233, 230, 222, 0.3);
}

.register-card input,
.register-card textarea {
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
    background-color: rgba(254, 243, 219, 0.6);
}

.member-card-container {
    color: #fff;
}

.login-card-body {
    position: relative;
    font-weight: 200;
    /* font-style: oblique; */
    font-size: 0.9rem;
    padding: 1rem;
    letter-spacing: 2px;
    text-shadow: 0 0 5px #eac18a;
    box-shadow: none;
    overflow: hidden;
}

/* .bg-img {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    filter: blur(20px) contrast(125%) saturate(40%);
    background-image: url("./uploaded/<?php echo $avatar ?> ");
    background-position: 50% 50%;
    background-repeat: repeat;
    background-size: 800%;

    /* background-position: right;

  } */

*/ .member-card-title {
    font-weight: 700;
    letter-spacing: 3px;
}

.admin-title,
.member-title {
    color: #fff;
    text-shadow: 0 0 5px #eac18a;
    font-size: 1.5rem;
    margin: 0 auto;
    font-weight: 200;
    padding: 20px 0;
    letter-spacing: 3px;
}

.captcha p {
    letter-spacing: 3px;
    font-weight: 200;
}

.checkword-label {
    color: #fff;
    letter-spacing: 3px;
    font-weight: 200;
    margin-top: 10px;
    font-size: 0.8rem;
}

/* .card-title {
    color: #fff;
    text-shadow: 0 0 5px #eac18a;
    font-size: 1.5rem;
    margin: 0 auto;
    font-weight: 200;
    padding: 10px 0 20px 0;
    letter-spacing: 3px;
} */

#btn {
    border: none;
    padding: 5px 20px;
    border-radius: 25px;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    letter-spacing: 3px;
}

.btn-primary {
    border: none;
    padding: 5px 20px;
    border-radius: 25px;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    letter-spacing: 3px;
}

/* .card-body {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    letter-spacing: 3px;
    font-weight: 200;
    border-radius: 15px;
} */

.edit-card-body {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    letter-spacing: 3px;
    font-weight: 200;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 5px rgba(233, 230, 222, 0.3);
}

.edit-card-title {
    color: #fff;
    text-shadow: 0 0 5px #eac18a;
    font-size: 1.5rem;
    margin: 0 auto;
    font-weight: 200;
    padding: 10px 0 20px 0;
    letter-spacing: 3px;
}

.register-card-title {
    color: #fff;
    text-shadow: 0 0 5px #eac18a;
    font-size: 1.5rem;
    margin: 0 auto;
    font-weight: 200;
    padding: 10px 0 20px 0;
    letter-spacing: 3px;
}

.login-page-card-body {
    font-style: oblique;
    font-size: 0.9rem;
    padding: 3rem;
    letter-spacing: 2px;
    text-shadow: 0 0 5px #eac18a;
    font-weight: 200;
}

#all > ul {
    list-style: none;
    float: center;
    width: 200px;
    padding: 0 10px 0 0;
}

#all a {
    text-decoration: none;
    display: block;
    padding: 5px;
    background: rgba(0, 0, 0, 0.9);
    opacity: 0.5;
    border-radius: 0 30px 30px 0;
    color: #fff;
    text-align: left;
    padding: 5px 5px 5px 20px;
    margin: 0 0 3px 0;
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 3px;
    font-variant: small-caps;
    /* -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease; */
}

/* #all:hover a {
    opacity: 1;
} */

#all:hover ul:hover a {
    opacity: 0.5;
}

#all:hover ul:hover a:hover {
    opacity: 0.3;
}

#all:active a {
    opacity: 0.5;
}

#all:active ul:active a {
    opacity: 0.5;
}

#all:active ul:active a:active {
    opacity: 0.9;
}

#page-wrap {
    position: fixed;
    top: 30%;
}

.member-hi {
    color: #fff;
    text-align: left;
    padding-left: 20px;
    opacity: 0.5;
    font-weight: 200;
}

.member-hello:hover .member-hi {
    opacity: 1;
    cursor: default;
}
